/*  index/about me*/
body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("./assets/purple-lavender-field.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.big-banner {
    background-image: url(./assets/purple-lavender-field.jpg);
    background-size: 100%;
}

.container {
    position: relative; top: 30%;
    flex-flow: column wrap;
}

h1.ABHeader {
    text-align: center;
    color: #AA96DA;
    border-bottom: #c5fad5; 
    border-bottom-style: solid;
    border-width: 10px;
    margin: 0 auto;
    content: "";
    
}

main {
    background-color: #FFFFD2;
    background: opacity(50%);
}
.aboutmeimg {
    border-radius: 50%;
}

div.portcont {
    border: 10px;
}
}
/* large */
@media (max-width: 1200px) {
    body {
        background-color: purple;
    }
    .portimgs {
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        max-width: 100%;
        height: auto;  
}
/* medium */
@media (max-width: 992px) {
    .portimgs {
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        max-width: 100%;
        height: auto;
}
/* small */
@media (max-width: 768px) {}

.portimgs {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    max-width: 100%;
    height: auto;
  
}