/*  index/about me*/

.container {
    margin-top: 5%;
}

h1.ABHeader {
    color: darkolivegreen;
}

main {
    background-color: beige;
}

img.ResponseImg {  
    float:left;
}

p.text {
    
    text-align: justify;
}

.footer {
    background-color: rgb(63, 31, 19);
}

.form-control{
    width:500px;
    margin: auto;
}
input#message {
    height: 100px;

}

