body,
html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("purple-lavender-field.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
}
.container-fluid {
  position: relative;
}

img {
  max-width: 250px;
  max-height: 250px;
}
