body,
html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("./images/purple-lavender-field.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
}
/*my attempt at keeping Mike happy by having container centered */
.container {
  background-color: #b0b1e2;
  position: relative;
  top: 30%;
}
.footer {
  text-align: center;
}
